.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 2rem;
}

table {
  margin-top: 2rem;
}

table th:nth-child(1),
table td:nth-child(1) {
  min-width: 170px;
}

thead {
  font-weight: bold;
  text-align: left;
  background-color: #100b1f;
  color: white;
}

th {
  padding: 1rem;
  min-width: 70px;
}

td {
  padding: 1rem;
  text-align: start;
}

tr:nth-child(2n) {
  background-color: #e5e5e5;
}

tbody tr:hover {
  background-color: #f3ffb6;
}
